/*导航栏样式*/
.head .nav{
    position: relative;
}
.head .nav .nav_top {
    margin-top: 3px;
    background-color: #f0f0f0;
    width: 100%;
    line-height: 23px;
    height: 23px;
    color: #999;
    font-size: 12px;
}

/* 导航栏顶部的样式 */

.head .nav .nav_top>ul>li {
    padding: 0 8px;
    cursor: pointer;
}

.head .nav .nav_top .nav_top_one, .nav_top_one>li {
    float: left;
}
.head .nav .nav_top .nav_top_one, .nav_top_one>li>a{
    background-color: #f0f0f0;
    color: #999;
}
.head .nav .nav_top .nav_top_two, .nav_top_two>li {
    float: right;
}

/* logo样式 */

.head .nav .loge {
    width: 100%;
    height: 100px;
    padding-top: 2rem;
    line-height: 100px;
    text-align: center;
    display: block;
}

.head .nav .loge>img {
    height: 100%;
}


/* 搜索框样式 */

.head .nav .nav_middle {
    text-align: center;
    padding-top: 2rem;
    width: 40%;
    margin: 0 auto;
}

.head .nav .nav_middle .nav_input {
    border: 2px solid #C40000;
    border-radius: 4px;
    height: 45px;
    display: flex;
}

.head .nav .nav_middle .nav_input .search {
    flex: 6;
    font-size: 13px;
    font-weight: 200;
}
/* 搜索框的样式 */

#search {
    width: 98%;
    height: 100%;
    border: none;
    line-height: 100%;
}

#search:focus {
    outline: none;
}


/* 搜索按钮样式 */

#btn_search {
    flex: 1;
    color: #fff;
    font-weight: 700;
    background-color: #C40000;
}


/* 导航栏 */

.head .nav .nav_bottom {
    width: 100%;
    height: 40px;
    background-color: #f0f0f0;
    margin-top: 3rem;
    float: right;
}

.head .nav .nav_bottom .nav_bottom_nav {
    width: 62%;
    margin-left: 38%;
}


/* 导航栏动画 */

.head .nav .nav_bottom .nav_bottom_nav>li {
    float: left;
    width: 4.0625rem /* 65px */;
    margin-left: 1%;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.head .nav .nav_bottom .nav_bottom_nav>li:hover {
    background-color: #c40000;
    color: #f0f0f0;
    border-radius: 50%;
    transform: rotateY(360deg);
}


/* 导航栏被触发项的样式 */

.head .nav .nav_bottom .nav_bottom_nav .active {
    background-color: #c40000;
    color: #f0f0f0;
    border-radius: 5px;
}

.head .nav .nav_bottom .nav_bottom_nav .active:hover {
border-radius: 5px;
transform: rotateX(360deg) scale(1.1);
}

.head .nav .nav_loop {
    width: 18%;
    margin-left: 17%;
    position: relative;
}
.head .nav .nav_loop .all_classify{
height: 50px;
line-height: 50px;
width:100%;
background-color: #c40000;
color: #f0f0f0;
position: absolute;
top: 44px;
border-radius: 1%;
text-align: center;
font-size: 18px;
font-weight: 800;
}
/*导航栏下的的轮播和导航*/



/*导航栏左侧样式*/

.head .nav .nav_loop .nav_bottom_left {
    /*display: none;*/
    height:0px;
    overflow: hidden;
    position: absolute;
    top: 95px;
    width: 100%;
    color: #f1f1f1;
    background-color: #c40000;
    font-size: 15px;
    border-radius: 0 0 6px 6px;
}

/*每一条导航的样式以及鼠标放上去的样式*/

.head .nav .nav_loop .nav_bottom_left>li {
    padding: 0.47rem 1rem;
    cursor: pointer;
}

.head .nav .nav_loop .nav_bottom_left>li:hover {
    color: #0DD178;
    background-color: #FA5251;
}


.stair_nav {
    position: relative;
    z-index: 10;
}

.stair_nav>ul {
    width: 1.875rem
    /* 30px */
;
    position: fixed;
    top: 9.375rem
    /* 230px */
;
}

.stair_nav>ul>li, li>a {
    background-color: #463F3F;
    color: #f1f1f1;
    cursor: pointer;
    text-align: center;
    margin-bottom: .25rem
    /* 4px */
;
}
/*右边的导航*/
.stair_nav .stair_nav_right {
    right: 5px;
    height: 100%;
}

.stair_nav .stair_nav_right .line {
    height: 100%;
    position: absolute;
    top: -150px;
    right: -5px;
    background-color: #666;
    width: 4px;
}


/*返回顶部*/

.stair_nav .stair_nav_right .feed_back {
    margin-top: 6.6rem;
}

/*外部容器样式*/

.about_us_container{;
    display:flex;
    width:60%;
    height:auto;
    margin: 20px auto;
}

/**/
.about_us_container .container_left_nav{
    flex-grow:1;

}
/**/
.about_us_container .container_left_nav .container_left_nav_ul{
    border:1px solid #efa7a7;
    padding:2% 3%;

}
.about_us_container .container_left_nav .container_left_nav_ul .img{
    width:100%;
    height:100px;
}
.about_us_container .container_left_nav .container_left_nav_ul .img>img{
    width:100%;
}
/**/
.about_us_container .container_left_nav .container_left_nav_ul>li{
    border-bottom:1px dotted #efa7a7;
    color:#005ea7;
    padding:5px 6%;
    font-size:14px;
    height:20px;
    margin:5px 2%;
    line-height:20px;
    cursor:pointer;
}
/**/
.about_us_container .container_right_content{
    flex-grow:5;
}
/**/
.about_us_container .container_right_content .container_right_content_ul{
    border:1px solid #999;
    color:#666;
    margin-left:1%;
    padding:10px 4%;
}
/**/
.about_us_container .container_right_content .container_right_content_ul>li{
    display:none;
}
.about_us_container .container_right_content .container_right_content_ul .act{
    display:block;
}
.footer {
    width: 100%;
    height: 350px;
    background-color: #dedede;
    position: relative;
    bottom: -1.1875rem
    /* -19px */
;
}

.footer .foot {
    width: 93%;
    margin: 0 auto;
}


/*尾部顶部广告*/

.footer .foot .foot_top {
    display: flex;
}

.footer .foot .foot_top .foot_top_ad {
    flex-grow: 1;
    font-size: 20px;
    padding-top: 1.25rem
    /* 20px */
;
    padding-left: 6.25rem
    /* 100px */
;
}


/*尾部内容标题样式*/

.footer .foot .foot_middle {
    display: flex;
    padding: 50px 100px 0;
}

.footer .foot .foot_middle .foot_middle_con {
    flex-grow: 1;
}

.footer .foot .foot_middle .foot_middle_con>p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0.625rem
    /* 10px */
;
}

.footer .foot .foot_middle .foot_middle_con>ul {
    padding-top: 10px;
}

.footer .foot .foot_middle .foot_middle_con>ul>li {
    padding-top: 3px;
    width: 35%;
    cursor: pointer;
    text-align: center;
}

.footer .foot .foot_middle .foot_middle_con>ul>li:hover {
    color: #c81623;
}

.footer .foot .foot_middle .foot_middle_con>ul>li>img {
    width: 65px;
    height: 65px;
}












